body {
    background-color: #ebebeb;
  }
  
  .heading {
    background-color: #e41b1b;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
  }
  
  .title {
    background-color: #333333;
    padding: 5px;
    color: white;
  }
  
  #runtime {
    background-color: #333333;
    color: #eef1f4;
    padding: 0px 0px 5px 5px;
  }
  
  .content {
    color: #f8f9f9;
  }
  
  #subtitle {
    color: white;
    margin-left: 55px;
  }
  
  #showing {
    margin-left: 20px;
  }
  
  #films li::before {
    content: "";
  }
  
  .film {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .sold-out {
    color: lightgray;
  
  }
  
  img {
    max-width: 19vw;
    border-radius: 8px;
  }
  
  #film-info {
    padding-bottom: 15px;
    height: 33vh;
  }