body {
    background-color: blueviolet;
  }
  
  .heading {
    background-color:red;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
    display: flex;
    text-align: center;
    
  }
  
 
  
 
  
  
  
 
  
  